* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: lightslategrey;
}
th,
button {
	padding: 0.3rem;
	text-align: center;
	background: linear-gradient(to top, #660066 0%, #666699 100%);
	color: lightgray;
	border-radius: 7%;
	transition: all 300ms ease;
	border: 3px solid #500050;
}
td {
	padding: 0.3rem;
	text-align: center;
	background: lightskyblue;
	border-radius: 7%;
	transition: all 300ms ease;
	border: 3px ridge teal;
}
table {
	width: 85vw;
	height: 60vh;
	margin: auto;
	margin-top: 3vh;
}
td:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	border: 3px outset teal;
	color: teal;
}
th:hover {
	border: 3px outset black;
	color: black;
	background: linear-gradient(to bottom, #660066 0%, #666699 100%);
}
button:hover {
	border: 3px outset black;
	color: black;
	background: linear-gradient(to bottom, #660066 0%, #666699 100%);
}
input {
	margin: 0 2vw;
}
.top-div {
	margin: auto;
	width: fit-content;
	margin-top: 3vh;
	font-weight: bold;
}
